<mat-toolbar color="primary">My App</mat-toolbar>
<div class="container-fluid">
  <main class="row around-xs">
      <mat-card class="col-xs-12 col-sm-6 col-md-3">
        <h1>TITULO 1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Ducimus sapiente impedit nulla vitae, non eveniet, ratione corporis 
          officiis fugiat provident ipsam tenetur, at fuga quibusdam deleniti 
          nesciunt? Odio, ipsa fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Et eius saepe molestiae voluptate veniam. Qui labore ullam corrupti alias 
          temporibus atque, voluptatem beatae. Et vel adipisci ea quis quam illum!</p>
      </mat-card>
      <mat-card class="col-xs-12 col-sm-6 col-md-3">
          <h1>TITULO 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Ducimus sapiente impedit nulla vitae, non eveniet, ratione corporis 
              officiis fugiat provident ipsam tenetur, at fuga quibusdam deleniti 
              nesciunt? Odio, ipsa fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Et eius saepe molestiae voluptate veniam. Qui labore ullam corrupti alias 
              temporibus atque, voluptatem beatae. Et vel adipisci ea quis quam illum!</p>
        </mat-card>
        <mat-card class="col-xs-12 col-sm-6 col-md-3">
            <h1>TITULO 3</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ducimus sapiente impedit nulla vitae, non eveniet, ratione corporis 
                officiis fugiat provident ipsam tenetur, at fuga quibusdam deleniti 
                nesciunt? Odio, ipsa fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Et eius saepe molestiae voluptate veniam. Qui labore ullam corrupti alias 
                temporibus atque, voluptatem beatae. Et vel adipisci ea quis quam illum!</p>
          </mat-card>
          <mat-card class="col-xs-12 col-sm-6 col-md-3">
              <h1>TITULO 2</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Ducimus sapiente impedit nulla vitae, non eveniet, ratione corporis 
                  officiis fugiat provident ipsam tenetur, at fuga quibusdam deleniti 
                  nesciunt? Odio, ipsa fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                  Et eius saepe molestiae voluptate veniam. Qui labore ullam corrupti alias 
                  temporibus atque, voluptatem beatae. Et vel adipisci ea quis quam illum!</p>
            </mat-card>
            <mat-card class="col-xs-12 col-sm-6 col-md-3">
                <h1>TITULO 3</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Ducimus sapiente impedit nulla vitae, non eveniet, ratione corporis 
                    officiis fugiat provident ipsam tenetur, at fuga quibusdam deleniti 
                    nesciunt? Odio, ipsa fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Et eius saepe molestiae voluptate veniam. Qui labore ullam corrupti alias 
                    temporibus atque, voluptatem beatae. Et vel adipisci ea quis quam illum!</p>
              </mat-card>
              <mat-card class="col-xs-12 col-sm-6 col-md-3">
                  <h1>TITULO 2</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Ducimus sapiente impedit nulla vitae, non eveniet, ratione corporis 
                      officiis fugiat provident ipsam tenetur, at fuga quibusdam deleniti 
                      nesciunt? Odio, ipsa fugit! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Et eius saepe molestiae voluptate veniam. Qui labore ullam corrupti alias 
                      temporibus atque, voluptatem beatae. Et vel adipisci ea quis quam illum!</p>
                </mat-card>
              
              </main>
    
</div>
