<mat-toolbar color="primary">INICIO</mat-toolbar>
<div class="container-fluid">
  <div class="row center-xs">
         <h1 class="col-xs-12">
                INGRESE UN PRODUCTO
         </h1>
         <figure class="col-xs-12">
            <img  alt="Angular Logo" src="../assets/img/logo.png.png">
      </figure>
     <mat-card class="col-xs-12 col-sm-6 col-md-3">       
             <input matInput placeholder="NOMBRE DEL PRODUCTO">
 </mat-card>
 <mat-card class="col-xs-12 col-sm-6 col-md-3">      
             <textarea matInput placeholder="DESCRIPCION DEL PRODUCTO"></textarea>
 
            </mat-card>
  <mat-card class="col-xs-12 col-sm-6 col-md-3"> 
  <input matInput placeholder="PRECIO COMERCIAL">
 </mat-card>
 <mat-card class="col-xs-12 col-sm-6 col-md-3"> 
    <input matInput placeholder="ESPECIFICACIONES">
   </mat-card>
   <mat-card class="col-xs-12 col-sm-6 col-md-3"> 
      <button mat-raised-button color="primary" routerLink="/">CREAR</button>
  </mat-card>
 </div>
</div>
