.container-fluid{
      color: white;
      background-image: url('https://media.giphy.com/media/xT9DPEPymVhAwi0mJy/giphy.gif');
  background-repeat: repeat-x;
  background-size: 50% 100%;
    }
    input,textarea{
      margin: 0px;
      padding: 0px;
      width:100%;
      border-radius: 1.5em;
    }
    .mat-card{
     background-color:blue;
     margin: 0.5em 0.5em;
     border-radius: 1.5em;
    }
    textarea{
      width: 100%;
      height:50%;
    }
   .logoFT{
    padding-top: 1em;
       width: 20%;
   }
   #boton{
    background-color: white;
  }
  .boton:hover{
    color: blue;
    background-color: gold;
  }
  .menu{
    background-color: gold;
  }