<div class="container-fluid">
    <div class="row center-xs">
        <h1 class="col-xs-12">
            NOMBRE DE LA APLICACION
          </h1>
          <figure class="col-xs-12">
              <img  alt="Angular Logo" src="../assets/img/logo.png.png">
          </figure>
          <div class="button-row">
              <button mat-raised-button color="primary" routerLink="/login">Registrate</button>
              <button mat-raised-button color="primary" routerLink="/signup">Logueate</button>
          </div>
   </div>
</div>
