h1{
    color: white;
    padding: 1em 0;
}
figure{
    padding: 1em 0 2em 0;
}
.container-fluid{
    background-color: black;
    width: 100%;
}
.pie{
    color: white;
    text-align: center;
}
.boton{
    margin-right: 1em;   
    margin-bottom: 5em;
}
.boton:hover{
   color: blue;
   background-color: white;
}
.logoFT{
    width: 20%;
}