<div class="container-fluid">
    <div class="row center-xs">
          <figure class="col-xs-12">
              <img class="logoFT"  alt="Angular Logo" src="../assets/img/logoFin.png">
          </figure>
          <article class="col-xs-8">
                <p class="pie">Financi Tienda es una plataforma que permite a los estudiantes 
                    ofrecer sus productos comerciales para la finaciar su semestre y afines 
                </p><br>
          </article>
          <br>
          <div class="col-xs-12">
              <button class="boton" mat-raised-button color="primary" routerLink="/login">REGISTRATE</button>
              <button class="boton" mat-raised-button color="primary" routerLink="/signup">LOGUEATE</button>
          </div>
   </div>
   <footer>
        <p class="pie">2008 Todos los derechos reservados</p>
   </footer>
</div>


