.container-fluid{
  background-color: black;
  color: white;
  /*background-image: url('https://media.giphy.com/media/26uf8tQf6WVQPxP9u/giphy.gif');
  background-repeat: inherit;*/
  }
  input{
    margin: 0px;
    padding: 0px;
    width:100%;
    border-radius: 1.5em;
  }
  .mat-card{
   background-color: rgba(0, 0, 255, 0.712);
 /* background: linear-gradient(red, orange);*/
   border-radius: 1.5em;
   margin: 0.5em 0.5em;
  }
  .ico{
    float:left;
  }
  .logoFT{
    padding-top: 1em;
    width: 20%;
}
#boton{
  background-color: white;
}
.boton:hover{
  color: blue;
  background-color: white;
}