<div class="container-fluid">
  <div class="row center-xs">
               <figure class="col-xs-12">
                    <img class="logoFT" alt="Angular Logo" src="../assets/img/logoFinal.png">
              </figure>         
     <mat-card class="col-xs-12 col-sm-6 col-md-3">       
             <input matInput placeholder="CORREO ELECTRONICO">   
 </mat-card>
 <mat-card class="col-xs-12 col-sm-6 col-md-3">      
             <input matInput placeholder="INGRESAR CONTRASEÑA" type="password"> 
 </mat-card>
 <mat-card class="col-xs-12 col-sm-6 col-md-3" id="boton"> 
     <button class="boton" mat-raised-button color="primary" routerLink="/dashboard" >INGRESAR</button>
 </mat-card>
 </div>
</div>

